MEDUSA_ADMIN_ONBOARDING_TYPE=nextjs
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://medusa:supersecret@localhost/medusa-payment-yookassa
MEDUSA_ADMIN_ONBOARDING_NEXTJS_DIRECTORY=medusa-storefront

# Stripe (for testing)
STRIPE_API_KEY=

# YooKassa
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=

# Testing only - for YooKassa webhooks
LOCALTUNNEL_SUBDOMAIN=medusa-payment-yookassa
